#background-img {
    background-color: lightslategray;
    background-image:url(../img/truskawka.jpg);
    background-repeat: no-repeat;
    background-position:50% 20%;
    /* background-position:top center; */
    /* background-size: 30% 30%; */
    /* background-size: contain; */
    /* background-size: cover; */
    background-attachment: fixed;

}