body {
    background-color: black;
    visibility: hidden;
}

.box {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: yellow;

}

#colors {
    visibility: visible;

    transition: visiblity 0s linear 5s;
}

#colors:hover {
    background-color: brown;
    transition: background-color 3s linear 1s 
}

#box1 {
    background-color: deeppink;
    transition: width 1s linear 0s;

}

#box1:hover {
    width: 300px;
}

#box2 {
    background-color: green;
}

#box3 {
    background-color: blue;
}

#box4 {
    background-color: orange;
}